openapi: 3.1.0

info:
  title: SBS SupTech Complaints API
  version: 0.1.0
  summary: Institution-to-regulator complaint reporting against Anexo 1-A.
  description: |
    The SBS SupTech Complaints API is the institution-facing surface through
    which supervised institutions (banks, financieras, AFPs, COOPACs,
    insurers, and other entities under SBS supervision) submit complaint
    records to the Superintendencia de Banca, Seguros y AFP (SBS) for
    regulatory analysis.

    Two ingestion tiers are offered. Tier 1 is a near-real-time per-complaint
    HTTP API for institutions with mature integration capability. Tier 2 is
    a signed batch upload for institutions whose operational capacity does
    not yet support per-event submission. Both tiers carry the same Anexo 1-A
    payload schema and the same validation rules.

    This v0.1.0 contract is the May 25, 2026 sprint kickoff scope. The
    payload model implements a curated 15-field subset of the Anexo 1-A
    taxonomy from Resolución SBS N° 04036-2022. Full Anexo 1-A coverage
    arrives in a later release alongside the Standards Pack v1.0.0
    distribution (see PLAN.md Part 11).

    See ADR 0026 for the field-by-field reconciliation of the 15-field
    subset against the resolución, and ADR 0027 for the rule that this
    specification — not the Pydantic implementation — is the canonical
    contract.

    ## complaint_id uniqueness

    The `complaint_id` is unique **globally within the SBS sandbox**, not
    per-institution. Two institutions cannot submit complaints carrying
    the same `complaint_id`. The May 25 sandbox enforces this by assigning
    `complaint_id` server-side at submission time; the institution does
    not propose an id on `POST /complaints`. See ADR 0028.

    ## Cursor pagination format

    Cursor-paginated endpoints (`GET /complaints`, `GET /batches/{id}/results`)
    return `next_cursor` as an **opaque base64-encoded** value. Clients must
    treat the cursor as opaque and pass it back to the server verbatim;
    decoding, modifying, or constructing a cursor client-side is unsupported
    and produces `SBS-400-005 CURSOR_INVALID`. Internally the cursor encodes
    `{"received_at": "<RFC3339>", "complaint_id": "<uuid>"}` so the server can
    resume the page deterministically; this internal format is **not** part
    of the published contract and may change.
  contact:
    name: SBS SupTech engineering
    url: https://www.sbs.gob.pe
  license:
    name: Internal — see repository LICENSE
    url: https://github.com/wbg-suptech/sbs-suptech-prototype/blob/main/LICENSE
  x-status: draft
  x-canonical-source: api/openapi/sbs-api-v1.yaml

servers:
  - url: https://api-sandbox.sbs.gob.pe/v1
    description: Sandbox (illustrative URL; placeholder pending SBS confirmation).
  - url: http://localhost:8000/v1
    description: Local development server (FastAPI scaffold, lands in Prompt 6).

tags:
  - name: Ingestion (Tier 1)
    description: Near-real-time per-complaint submission and retrieval.
  - name: Ingestion (Tier 2)
    description: Signed batch upload for institutions with batch-only capability.
  - name: Institutions
    description: Per-institution operational status.
  - name: Meta
    description: Health and version metadata.
  - name: Sandbox (Institution)
    description: |
      Sandbox-only surfaces. Same authentication chain as the production
      routes (mTLS + OAuth client credentials + HMAC), but intended for
      integration rehearsal rather than regulatory submission.

# Global default: least-privileged read scope. Write operations override
# per-operation with `complaints:write` or `batch:upload`. Public probes
# (`/health`, `/version`) override with `security: []`.
security:
  - mtls: []
    oauth2_client_credentials: [complaints:read]
    hmac_signature: []

paths:

  /complaints:
    post:
      tags: [Ingestion (Tier 1)]
      summary: Submit a single complaint
      operationId: createComplaint
      security:
        - mtls: []
          oauth2_client_credentials: [complaints:write]
          hmac_signature: []
      description: |
        Submit one complaint to SBS. The body carries the Anexo 1-A 15-field
        payload wrapped in a submission envelope. The request must carry an
        `Idempotency-Key` HTTP header (UUID v4 recommended) for at-least-once
        delivery semantics. On retry with the same key within 24 hours, the
        server replays the original response without re-processing.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplaintSubmission"
            examples:
              valid:
                $ref: "#/components/examples/ValidComplaintSubmission"
      responses:
        "201":
          description: Complaint accepted.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
            Idempotency-Replayed: { $ref: "#/components/headers/IdempotencyReplayedResponse" }
            ETag: { $ref: "#/components/headers/ETagResponse" }
            Location:
              schema:
                type: string
                format: uri
              description: URL of the created complaint resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplaintCreated"
              examples:
                created:
                  $ref: "#/components/examples/ComplaintCreatedExample"
        "400": { $ref: "#/components/responses/Problem400" }
        "401": { $ref: "#/components/responses/Problem401" }
        "403": { $ref: "#/components/responses/Problem403" }
        "409": { $ref: "#/components/responses/Problem409" }
        "422": { $ref: "#/components/responses/Problem422" }
        "429": { $ref: "#/components/responses/Problem429" }
        "500": { $ref: "#/components/responses/Problem500" }
    get:
      tags: [Ingestion (Tier 1)]
      summary: List complaints
      operationId: listComplaints
      description: |
        Retrieve a paginated list of complaints. Supervisor users may filter
        across institutions; institution users see only their own. Pagination
        is cursor-based; treat `next_cursor` as **opaque** and pass it back
        verbatim. Internally the cursor encodes
        `{"received_at": "<RFC3339>", "complaint_id": "<uuid>"}` (base64),
        but this is not part of the published contract — see the info-block
        "Cursor pagination format". Inherits the global `complaints:read` scope.
      parameters:
        - in: query
          name: institution_id
          schema: { type: string, pattern: "^SBS-\\d{4,6}$" }
        - in: query
          name: received_date_from
          schema: { type: string, format: date }
        - in: query
          name: received_date_to
          schema: { type: string, format: date }
        - in: query
          name: product_category
          schema: { $ref: "#/components/schemas/ProductCategory" }
        - in: query
          name: channel
          schema: { $ref: "#/components/schemas/Channel" }
        - in: query
          name: motivo_code
          schema: { $ref: "#/components/schemas/MotivoCode" }
        - in: query
          name: resolution_status
          schema: { $ref: "#/components/schemas/ResolutionStatus" }
        - in: query
          name: page_size
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: next_cursor
          schema: { type: string, minLength: 8, maxLength: 256 }
        - $ref: "#/components/parameters/TraceparentHeader"
      responses:
        "200":
          description: Page of complaints.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplaintListResponse"
              examples:
                page:
                  $ref: "#/components/examples/ComplaintListExample"
        "400": { $ref: "#/components/responses/Problem400" }
        "401": { $ref: "#/components/responses/Problem401" }
        "403": { $ref: "#/components/responses/Problem403" }
        "422": { $ref: "#/components/responses/Problem422" }
        "429": { $ref: "#/components/responses/Problem429" }
        "500": { $ref: "#/components/responses/Problem500" }

  /complaints/{complaint_id}:
    parameters:
      - $ref: "#/components/parameters/ComplaintIdPath"
      - $ref: "#/components/parameters/TraceparentHeader"
    get:
      tags: [Ingestion (Tier 1)]
      summary: Retrieve a complaint by id
      operationId: getComplaintById
      description: Return the full Anexo 1-A complaint payload for a given complaint_id. Inherits the global `complaints:read` scope.
      responses:
        "200":
          description: Complaint found.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
            ETag: { $ref: "#/components/headers/ETagResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Complaint"
              examples:
                complaint:
                  $ref: "#/components/examples/ValidComplaintBody"
        "401": { $ref: "#/components/responses/Problem401" }
        "403": { $ref: "#/components/responses/Problem403" }
        "404": { $ref: "#/components/responses/Problem404" }
        "500": { $ref: "#/components/responses/Problem500" }

  /complaints/{complaint_id}/status:
    parameters:
      - $ref: "#/components/parameters/ComplaintIdPath"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/TraceparentHeader"
    patch:
      tags: [Ingestion (Tier 1)]
      summary: Update the resolution status of a complaint
      operationId: patchComplaintStatus
      security:
        - mtls: []
          oauth2_client_credentials: [complaints:write]
          hmac_signature: []
      description: |
        Transition a complaint's resolution status. A reason is required when
        transitioning to `atendido` or `anulado`. The audit log records both
        the prior and new state along with the reason. The response is the
        full updated `Complaint` resource so clients can observe the
        post-transition state without an extra round trip.

        Concurrency control: clients send the `ETag` returned from a prior
        `GET` or `PATCH` as the `If-Match` header. A stale tag returns 412
        with `ETAG_MISMATCH`; a missing tag returns 428.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplaintStatusPatch"
            examples:
              resolve:
                summary: Resolve a complaint
                value:
                  resolution_status: atendido
                  reason: >-
                    Cargo revertido el 2026-05-14. Cliente notificado por
                    correo electrónico el mismo día.
      responses:
        "200":
          description: Status updated.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
            ETag: { $ref: "#/components/headers/ETagResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Complaint"
        "400": { $ref: "#/components/responses/Problem400" }
        "401": { $ref: "#/components/responses/Problem401" }
        "403": { $ref: "#/components/responses/Problem403" }
        "404": { $ref: "#/components/responses/Problem404" }
        "409": { $ref: "#/components/responses/Problem409" }
        "412": { $ref: "#/components/responses/Problem412" }
        "422": { $ref: "#/components/responses/Problem422" }
        "428": { $ref: "#/components/responses/Problem428" }
        "500": { $ref: "#/components/responses/Problem500" }
        "503": { $ref: "#/components/responses/Problem503" }

  /batches:
    post:
      tags: [Ingestion (Tier 2)]
      summary: Submit a Tier 2 batch (manifest + CSV multipart)
      operationId: createBatch
      security:
        - mtls: []
          oauth2_client_credentials: [batch:upload]
          hmac_signature: []
      description: |
        Submit a Tier 2 batch as a single multipart request carrying both
        the JSON manifest and the CSV file. ADR 0034: the API persists the
        CSV, enqueues an async worker job, and returns 202 with a
        `Location` header pointing at the status endpoint. Per-row
        validation uses the same Pydantic models as the Tier 1 endpoint;
        the proportional-treatment claim is structural, not advisory.

        The HMAC canonical-request body-hash is computed over the CSV
        file bytes only per ADR 0027 amendment.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [manifest, file]
              properties:
                manifest:
                  $ref: "#/components/schemas/BatchManifest"
                file:
                  type: string
                  format: binary
                  description: |
                    CSV file. Required. The HMAC canonical request body-
                    hash is the SHA-256 of these bytes only; the manifest's
                    `checksum_sha256` is recomputed server-side and
                    rejected with `SBS-400-007 BATCH_CHECKSUM_MISMATCH`
                    on disagreement.
            encoding:
              manifest: { contentType: application/json }
              file: { contentType: text/csv }
      responses:
        "202":
          description: Batch persisted and queued for processing.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
            Idempotency-Replayed: { $ref: "#/components/headers/IdempotencyReplayedResponse" }
            Location:
              description: URL of the status endpoint for the new batch.
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchSubmission"
        "400": { $ref: "#/components/responses/Problem400" }
        "401": { $ref: "#/components/responses/Problem401" }
        "403": { $ref: "#/components/responses/Problem403" }
        "409": { $ref: "#/components/responses/Problem409" }
        "413":
          description: |
            CSV file exceeded the per-endpoint cap (default 50 MiB;
            tunable via `SBS_API_MAX_BATCH_FILE_BYTES`). Code
            `SBS-413-002 BATCH_FILE_TOO_LARGE`. Distinct from the
            general request-body 413 so the integrator can branch.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/ProblemDetail" }
        "422": { $ref: "#/components/responses/Problem422" }
        "429": { $ref: "#/components/responses/Problem429" }
        "500": { $ref: "#/components/responses/Problem500" }

  /batches/{batch_id}:
    parameters:
      - $ref: "#/components/parameters/BatchIdPath"
      - $ref: "#/components/parameters/TraceparentHeader"
    get:
      tags: [Ingestion (Tier 2)]
      summary: Retrieve batch status
      operationId: getBatchStatus
      security:
        - mtls: []
          oauth2_client_credentials: [batch:upload]
          hmac_signature: []
      description: Return the lifecycle state and per-row counts for a previously submitted batch.
      responses:
        "200":
          description: Current batch state.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchStatus"
        "401": { $ref: "#/components/responses/Problem401" }
        "403": { $ref: "#/components/responses/Problem403" }
        "404": { $ref: "#/components/responses/Problem404" }
        "500": { $ref: "#/components/responses/Problem500" }

  /batches/{batch_id}/rejections:
    parameters:
      - $ref: "#/components/parameters/BatchIdPath"
      - $ref: "#/components/parameters/TraceparentHeader"
      - in: query
        name: page_size
        schema: { type: integer, minimum: 1, maximum: 1000, default: 200 }
      - in: query
        name: next_cursor
        schema: { type: string, minLength: 8, maxLength: 256 }
    get:
      tags: [Ingestion (Tier 2)]
      summary: Retrieve per-row rejections from a processed batch
      operationId: getBatchRejections
      security:
        - mtls: []
          oauth2_client_credentials: [batch:upload]
          hmac_signature: []
      description: |
        Per-row failure detail for the *rejected* rows of a batch.
        Accepted rows are not enumerated here — they appear in the
        Tier 1 `GET /complaints` listing with `source=batch`. Pagination
        uses the same signed cursor primitive as the Tier 1 list endpoint.
      responses:
        "200":
          description: Page of rejection rows.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRejectionsResponse"
        "401": { $ref: "#/components/responses/Problem401" }
        "403": { $ref: "#/components/responses/Problem403" }
        "404": { $ref: "#/components/responses/Problem404" }
        "500": { $ref: "#/components/responses/Problem500" }

  /sandbox/complaints/granular:
    post:
      tags: [Sandbox (Institution)]
      summary: Submit one granular complaint to the sandbox pipeline
      operationId: submitGranularSandboxComplaint
      security:
        - mtls: []
          oauth2_client_credentials: [complaints:write]
          hmac_signature: []
      description: |
        Submit one Anexo-1A-shaped complaint over the sandbox institutional
        path. Authentication is identical to `POST /v1/complaints` — mTLS,
        an OAuth client-credentials token and an HMAC-signed canonical
        request — and the same `Idempotency-Key` semantics apply.

        Two things differ from the canonical Tier-1 route:

        * **Richer payload.** This route accepts the granular
          demo-ingestion shape (identity, resolution, bancaseguros and
          monetary fields) rather than the Anexo 1-A 15-field subset that
          `POST /v1/complaints` takes, so it can exercise the full data
          quality rule set.
        * **Synchronous receipt.** The response carries the complete
          ingestion timeline — taxonomy normalisation, PII redaction,
          canonical persistence, data-quality and Anexo 1-A rule results,
          and the agent-pipeline outcome — instead of the lean 201 the
          canonical route returns.

        Both routes persist the same canonical complaint record and, when
        `SBS_API_AGENTS_PIPELINE_ENABLED` is set, both run the same agent
        chain. Use `POST /v1/complaints` for regulatory submission; use
        this route to see the pipeline's reasoning in one response.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
        - $ref: "#/components/parameters/TraceparentHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxGranularSubmission"
      responses:
        "201":
          description: Complaint ingested; receipt carries the pipeline timeline.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
            Idempotency-Replayed: { $ref: "#/components/headers/IdempotencyReplayedResponse" }
            Location:
              schema:
                type: string
                format: uri
              description: URL of the created canonical complaint resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SandboxGranularReceipt"
        "200":
          description: |
            Idempotent replay of a previous submission. Carries
            `Idempotency-Replayed: true`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SandboxGranularReceipt"
        "400": { $ref: "#/components/responses/Problem400" }
        "401": { $ref: "#/components/responses/Problem401" }
        "403": { $ref: "#/components/responses/Problem403" }
        "409": { $ref: "#/components/responses/Problem409" }
        "422": { $ref: "#/components/responses/Problem422" }
        "429": { $ref: "#/components/responses/Problem429" }
        "500": { $ref: "#/components/responses/Problem500" }

  /institutions/{institution_id}/status:
    parameters:
      - in: path
        name: institution_id
        required: true
        schema: { type: string, pattern: "^SBS-\\d{4,6}$" }
      - $ref: "#/components/parameters/TraceparentHeader"
    get:
      tags: [Institutions]
      summary: Retrieve operational status for an institution
      operationId: getInstitutionStatus
      description: Return the onboarding state, rate-limit allocation, and recent-activity summary for one institution. Inherits the global `complaints:read` scope.
      responses:
        "200":
          description: Status snapshot.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstitutionStatus"
        "401": { $ref: "#/components/responses/Problem401" }
        "403": { $ref: "#/components/responses/Problem403" }
        "404": { $ref: "#/components/responses/Problem404" }
        "500": { $ref: "#/components/responses/Problem500" }

  /health:
    get:
      tags: [Meta]
      summary: Health probe (aggregate)
      operationId: getHealth
      security: []
      description: |
        Aggregate health. Returns `ok`, `degraded`, or `down`. Public — no
        authentication required. The Kubernetes-shaped probes live at
        `/health/live`, `/health/ready`, and `/health/startup` and are
        documented under ADR 0030.
      responses:
        "200":
          description: Health snapshot.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "503":
          description: Service down.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/ProblemDetail" }

  /health/live:
    get:
      tags: [Meta]
      summary: Liveness probe
      operationId: getHealthLive
      security: []
      description: |
        Process liveness. No I/O. Returns 200 unless the process is dying.
        Used by the orchestrator restart policy. See ADR 0030.
      responses:
        "200":
          description: Process alive.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"

  /health/ready:
    get:
      tags: [Meta]
      summary: Readiness probe
      operationId: getHealthReady
      security: []
      description: |
        Traffic readiness. Pings the database with a 200ms timeout and a
        1-second result cache so flaps do not produce pod-flap loops. Used by
        the load balancer. See ADR 0030.
      responses:
        "200":
          description: Ready to serve traffic.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "503":
          description: Not ready (database unreachable).
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/ProblemDetail" }

  /health/startup:
    get:
      tags: [Meta]
      summary: Startup probe
      operationId: getHealthStartup
      security: []
      description: |
        Startup completion. Confirms migrations applied
        (`SELECT version_num FROM alembic_version` matches a known head).
        Returns 200 once; 503 until then. Used by the orchestrator startup
        probe (distinct timeout from liveness). See ADR 0030.
      responses:
        "200":
          description: Startup complete.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "503":
          description: Startup not complete.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/ProblemDetail" }

  /version:
    get:
      tags: [Meta]
      summary: Version metadata
      operationId: getVersion
      security: []
      description: Return the running API version, the build commit SHA, and the active Anexo 1-A schema version. Public — no authentication required.
      responses:
        "200":
          description: Version snapshot.
          headers:
            traceparent: { $ref: "#/components/headers/TraceparentResponse" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionInfo"

  /portal/:
    get:
      tags: [Meta]
      summary: Developer portal (HTML)
      operationId: getPortalIndex
      security: []
      description: |
        Return the developer portal HTML page. Renders the canonical
        OpenAPI 3.1 contract via Stoplight Elements (vendored locally,
        no CDN). Public — no authentication required. The portal is
        documentation only; invoking endpoints from a browser is
        deliberately disabled because mTLS cannot be satisfied from a
        browser UI. See ADR 0037.
      responses:
        "200":
          description: Portal HTML page.
          content:
            text/html:
              schema:
                type: string

  /portal/assets/{filename}:
    get:
      tags: [Meta]
      summary: Vendored portal asset
      operationId: getPortalAsset
      security: []
      description: |
        Return one of the vendored Stoplight Elements asset files.
        The allowlist is `web-components.min.js`, `styles.min.css`,
        `LICENSE`; any other filename returns 404. Public — no
        authentication required. Cached as immutable for one year.
        See ADR 0037 for the allowlist mechanism and re-vendoring
        procedure.
      parameters:
        - name: filename
          in: path
          required: true
          description: One of the allowlisted vendored asset filenames.
          schema:
            type: string
            enum:
              - web-components.min.js
              - styles.min.css
              - LICENSE
      responses:
        "200":
          description: Vendored asset bytes.
          headers:
            Cache-Control:
              description: Immutable cache directive for the vendored asset.
              schema:
                type: string
                example: public, max-age=31536000, immutable
          content:
            application/javascript:
              schema:
                type: string
            text/css:
              schema:
                type: string
            text/plain:
              schema:
                type: string
        "404":
          description: Filename is not in the vendored-asset allowlist.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/ProblemDetail" }

components:

  securitySchemes:
    mtls:
      type: mutualTLS
      description: |
        Institutions present a client certificate issued by the SBS CA. mTLS
        termination happens at the edge; per-call validation is enforced by
        the API service. Implementation details land in Prompt 7.
    oauth2_client_credentials:
      type: oauth2
      description: |
        OAuth 2.0 client_credentials flow scoped per institution per
        ADR 0032. Tokens are cert-bound via the RFC 8705
        `cnf.x5t#S256` confirmation claim — the token is unusable from
        a different mTLS connection. See [api/openapi/error-catalog.md]
        for the stable error codes returned on token/scope failures.
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes:
            complaints:write: Submit complaints and patch their resolution status
            complaints:read: List and retrieve complaints
            batch:upload: Submit batch manifests and read batch status / results
            status:read: Read institution operational status (status endpoints)
    hmac_signature:
      type: apiKey
      name: X-SBS-Signature
      in: header
      description: |
        HMAC-SHA256 signature over a canonical request envelope (method, path,
        body hash, timestamp, idempotency key). Detached from the OAuth bearer
        token because both layers serve different purposes: the bearer asserts
        institutional identity at the edge, the HMAC binds a specific request
        body. Implementation details land in Prompt 7.

  headers:
    TraceparentResponse:
      description: |
        W3C traceparent identifier for the request. Echoed verbatim from the
        request when present and well-formed; otherwise generated by the
        server. Present on every response (success and error) so clients can
        correlate logs and traces across the request path.
      schema:
        type: string
        pattern: "^[0-9a-f]{2}-[0-9a-f]{32}-[0-9a-f]{16}-[0-9a-f]{2}$"
    ETagResponse:
      description: |
        Strong entity tag for the complaint resource. Returned on successful
        retrieval and on successful `PATCH /complaints/{id}/status` 200. Used
        as the `If-Match` value on subsequent `PATCH` calls to detect
        concurrent updates. See RFC 9110 §8.8.
      schema:
        type: string
        pattern: "^\"[A-Za-z0-9+/=._-]+\"$"
    IdempotencyReplayedResponse:
      description: |
        Set to `true` when the response is a cached replay of a prior
        idempotent request (same `Idempotency-Key` within the 24-hour window).
        Absent (or `false`) on first execution. See ADR 0029.
      schema:
        type: boolean

  parameters:
    IdempotencyKeyHeader:
      in: header
      name: Idempotency-Key
      required: true
      schema: { type: string, format: uuid }
      description: |
        UUID v4. Required on every POST and PATCH. Replays of the same key
        within 24 hours return the original response (a cached representation),
        not a fresh execution. Keys are scoped per institution.
    TraceparentHeader:
      in: header
      name: traceparent
      required: false
      schema:
        type: string
        pattern: "^[0-9a-f]{2}-[0-9a-f]{32}-[0-9a-f]{16}-[0-9a-f]{2}$"
      description: |
        W3C traceparent identifier. If absent, the server generates one and
        returns it in the response. Every operation echoes the resulting
        traceparent in the response `traceparent` header.
    IfMatchHeader:
      in: header
      name: If-Match
      required: true
      schema:
        type: string
        pattern: "^\"[A-Za-z0-9+/=._-]+\"$"
      description: |
        Strong entity tag of the resource version the client believes it is
        modifying, obtained from a prior `GET` or `PATCH` response's `ETag`
        header. Required on `PATCH /complaints/{id}/status`. A missing header
        returns 428 (RFC 6585); a stale tag returns 412 with stable code
        `ETAG_MISMATCH`.
    ComplaintIdPath:
      in: path
      name: complaint_id
      required: true
      schema:
        type: string
        pattern: "^[A-Z0-9]{1,4}-\\d{4}-\\d{6,10}$"
        minLength: 6
        maxLength: 32
    BatchIdPath:
      in: path
      name: batch_id
      required: true
      schema:
        type: string
        pattern: "^batch_[A-Za-z0-9]{16,32}$"

  responses:
    Problem400:
      description: Bad request (malformed envelope).
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }
    Problem401:
      description: Authentication failed (invalid certificate, token, or signature).
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }
    Problem403:
      description: Authorization failed (scope missing or institution not onboarded).
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }
    Problem404:
      description: Resource not found.
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }
    Problem409:
      description: Conflict (duplicate complaint_id, idempotency replay mismatch, illegal status transition).
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }
    Problem412:
      description: ETag mismatch — the resource was modified since the client last read it.
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
        ETag: { $ref: "#/components/headers/ETagResponse" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }
    Problem422:
      description: Validation failed (body shape correct, content invalid).
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }
    Problem428:
      description: Precondition required — `If-Match` header missing on a conditional request (RFC 6585).
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }
    Problem429:
      description: Per-institution rate limit exceeded.
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
        Retry-After:
          schema: { type: integer }
          description: Seconds to wait before retrying.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }
    Problem500:
      description: Internal server error.
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }
    Problem503:
      description: Service unavailable.
      headers:
        traceparent: { $ref: "#/components/headers/TraceparentResponse" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetail" }

  schemas:

    SandboxGranularSubmission:
      type: object
      additionalProperties: true
      description: |
        Granular sandbox submission. Only `institution_id` and `narrative`
        are required; every other Anexo 1-A field is optional and its
        absence is reported back through the receipt's data-quality
        envelope rather than rejected outright, which is what makes this
        route useful for rehearsing a mapping. The full accepted field set
        is the demo-ingestion shape in
        `api/sbs_api/models/demo_ingestion.py`; `additionalProperties` is
        open here deliberately so an institution can post its own extra
        columns and see them reported as unrecognised.
      required:
        - institution_id
        - narrative
      properties:
        institution_id:
          type: string
          description: Must match the authenticated caller's institution.
          example: SBS-001234
        institution_complaint_id:
          type: string
          description: The institution's own complaint reference.
        narrative:
          type: string
          description: Free-text complaint narrative. PII is redacted server-side before any agent sees it.
        product:
          type: string
          description: Anexo 1-A product category (Anexo B code list).
          example: TARJETA_CREDITO
        motive:
          type: string
          description: Anexo 1-A motive (Anexo C code list).
          example: COBRO_INDEBIDO
        submotive:
          type: string
          description: Anexo 1-A sub-motive (Anexo D code list).
        severity:
          type: string
          example: HIGH
        channel_in:
          type: string
          description: Channel of intake (Anexo A code list).
        amount_claimed:
          type: number
          description: Claimed amount; pairs with `moneda`.
        moneda:
          type: string
          description: ISO 4217 currency for `amount_claimed`.
          example: PEN
        bancaseguros:
          type: string
          description: Bancassurance trigger (Anexo 1-A campo 24). When `si`, the three conditional bancaseguros fields become required.
          example: "no"

    SandboxGranularReceipt:
      type: object
      additionalProperties: true
      description: |
        Synchronous ingestion receipt. The `timeline` is the audit-visible
        stage sequence the record actually went through, ending with the
        agent-pipeline outcome when the pipeline is enabled.
      required:
        - submission_id
        - institution_id
        - complaint_id
        - raw_complaint_id
        - status
        - idempotency_key
        - received_at
        - timeline
        - data_quality
        - redaction_policy_version
        - data_quality_policy_version
      properties:
        submission_id:
          type: string
          format: uuid
        institution_id:
          type: string
          example: SBS-001234
        complaint_id:
          type: string
          description: Identifier of the canonical complaint this submission produced. Retrievable via `GET /v1/complaints/{complaint_id}`.
        raw_complaint_id:
          type: string
          format: uuid
          description: Identifier of the restricted, PII-bearing raw record.
        status:
          type: string
          enum: [accepted, accepted_with_warnings, rejected, duplicate]
        idempotency_key:
          type: string
        received_at:
          type: string
          format: date-time
        event_id:
          type: [integer, "null"]
          description: Audit-chain event id, when one was emitted.
        timeline:
          type: array
          description: Ordered ingestion stages, each with the instant it completed.
          items:
            type: object
            additionalProperties: true
            properties:
              event:
                type: string
                example: canonical_complaint_persisted
              at:
                type: string
                format: date-time
              detail:
                type: string
        data_quality:
          type: object
          additionalProperties: true
          description: Errors, warnings and suggested enrichments from the demo data-quality policy.
        redaction_policy_version:
          type: string
          example: pii-redaction-demo-v1
        data_quality_policy_version:
          type: string
          example: dq-demo-v1

    Complaint:
      type: object
      additionalProperties: false
      required:
        - complaint_id
        - institution_id
        - received_date
        - complainant_doc_type
        - product_category
        - channel
        - motivo_code
        - severity
        - description_text
        - description_language
        - complainant_age_range
        - complainant_district
        - submission_method
        - resolution_status
      properties:
        complaint_id:
          type: string
          minLength: 6
          maxLength: 32
          pattern: "^[A-Z0-9]{1,4}-\\d{4}-\\d{6,10}$"
          description: Anexo 1-A #1 — Código del reclamo (institution-assigned).
        institution_id:
          type: string
          minLength: 8
          maxLength: 10
          pattern: "^SBS-\\d{4,6}$"
          description: SBS-assigned institution code (Empresa código).
        received_date:
          type: string
          format: date
          description: Anexo 1-A #6 — Fecha de ingreso.
        complainant_doc_type:
          $ref: "#/components/schemas/ComplainantDocType"
        product_category:
          $ref: "#/components/schemas/ProductCategory"
        channel:
          $ref: "#/components/schemas/Channel"
        motivo_code:
          $ref: "#/components/schemas/MotivoCode"
        severity:
          $ref: "#/components/schemas/Severity"
        description_text:
          type: string
          minLength: 10
          maxLength: 8000
          description: Anexo 1-A #17 — Detalle completo de reclamo.
        description_language:
          $ref: "#/components/schemas/DescriptionLanguage"
        complainant_age_range:
          $ref: "#/components/schemas/ComplainantAgeRange"
        complainant_district:
          type: string
          pattern: "^\\d{6}$"
          description: |
            Anexo 1-A #13 — INEI ubigeo code. Six-digit INEI ubigeo
            (DDPPDD: department + province + district). The May 25
            sandbox accepts the canonical 6-digit form; district digits
            may be '00' when only department + province is known per the
            resolución's department+province precision requirement.
            Use '999999' for complaints submitted from abroad.
          examples:
            - "150100"
        submission_method:
          $ref: "#/components/schemas/SubmissionMethod"
        original_reference_id:
          type: [string, "null"]
          maxLength: 32
          pattern: "^[A-Z0-9]{1,4}-\\d{4}-\\d{6,10}$"
          description: Anexo 1-A #23 — Reclamo previo (optional).
        resolution_status:
          $ref: "#/components/schemas/ResolutionStatus"
      examples:
        - complaint_id: BCO-2026-000017
          institution_id: SBS-001234
          received_date: 2026-05-12
          complainant_doc_type: DNI
          product_category: TARJETA_CREDITO
          channel: APP_MOVIL
          motivo_code: COBRO_INDEBIDO
          severity: HIGH
          description_text: >-
            Se realizó un cargo no autorizado por S/ 245.00 en la tarjeta
            de crédito el 10 de mayo. El cliente solicita reversa
            inmediata y revisión del estado de cuenta.
          description_language: es
          complainant_age_range: "35_44"
          complainant_district: "150100"
          submission_method: APP_MOVIL
          original_reference_id: null
          resolution_status: pendiente

    ComplaintSubmission:
      type: object
      additionalProperties: false
      required: [complaint]
      properties:
        complaint:
          $ref: "#/components/schemas/Complaint"
        client_submission_id:
          type: [string, "null"]
          minLength: 8
          maxLength: 64
          description: Optional institution-side correlation id.

    ComplaintCreated:
      type: object
      additionalProperties: false
      required: [complaint_id, institution_id, received_at, resolution_status]
      properties:
        complaint_id: { type: string }
        institution_id: { type: string }
        received_at:
          type: string
          format: date-time
          description: Server-assigned receipt timestamp (UTC).
        resolution_status:
          $ref: "#/components/schemas/ResolutionStatus"
        client_submission_id:
          type: [string, "null"]

    ComplaintListItem:
      type: object
      additionalProperties: false
      required:
        - complaint_id
        - institution_id
        - received_date
        - product_category
        - channel
        - motivo_code
        - severity
        - resolution_status
        - received_at
      properties:
        complaint_id: { type: string }
        institution_id: { type: string }
        received_date: { type: string, format: date }
        product_category: { $ref: "#/components/schemas/ProductCategory" }
        channel: { $ref: "#/components/schemas/Channel" }
        motivo_code: { $ref: "#/components/schemas/MotivoCode" }
        severity: { $ref: "#/components/schemas/Severity" }
        resolution_status: { $ref: "#/components/schemas/ResolutionStatus" }
        received_at: { type: string, format: date-time }

    ComplaintListResponse:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/ComplaintListItem" }
        next_cursor:
          type: [string, "null"]

    ComplaintStatusPatch:
      type: object
      additionalProperties: false
      required: [resolution_status]
      properties:
        resolution_status:
          $ref: "#/components/schemas/ResolutionStatus"
        reason:
          type: [string, "null"]
          minLength: 10
          maxLength: 2000
      # JSON Schema 2020-12 conditional: reason is required when
      # resolution_status transitions to a terminal state ('atendido' or
      # 'anulado'). Generates SBS-422-002 on violation.
      allOf:
        - if:
            properties:
              resolution_status:
                enum: [atendido, anulado]
            required: [resolution_status]
          then:
            required: [reason]
            properties:
              reason:
                type: string
                minLength: 10
                maxLength: 2000

    BatchManifest:
      type: object
      additionalProperties: false
      required:
        - reporting_period_start
        - reporting_period_end
        - row_count_submitted
        - checksum_sha256
      properties:
        reporting_period_start: { type: string, format: date }
        reporting_period_end: { type: string, format: date }
        row_count_submitted:
          type: integer
          minimum: 1
          maximum: 1000000
        checksum_sha256:
          type: string
          pattern: "^[a-f0-9]{64}$"
          description: |
            Lowercase hex SHA-256 of the CSV file bytes. The server
            recomputes on receipt and rejects on mismatch.
        schema_version:
          type: [string, "null"]
          pattern: "^v\\d+\\.\\d+\\.\\d+$"
          description: |
            Optional. Defaults to the server's current schema_version.

    BatchSubmission:
      type: object
      additionalProperties: false
      required: [batch_id, status]
      properties:
        batch_id:
          type: string
          pattern: "^batch_[A-Za-z0-9]{16,32}$"
        status:
          type: string
          enum: [pending]

    BatchStatus:
      type: object
      additionalProperties: false
      required:
        - batch_id
        - institution_id
        - status
        - submitted_at
        - row_count_submitted
        - row_count_accepted
        - row_count_rejected
      properties:
        batch_id:
          type: string
          pattern: "^batch_[A-Za-z0-9]{16,32}$"
        institution_id:
          type: string
          pattern: "^SBS-\\d{4,6}$"
        status:
          type: string
          enum:
            - pending
            - processing
            - complete
            - failed
        submitted_at: { type: string, format: date-time }
        completed_at:
          type: [string, "null"]
          format: date-time
        row_count_submitted: { type: integer, minimum: 0 }
        row_count_accepted: { type: integer, minimum: 0 }
        row_count_rejected: { type: integer, minimum: 0 }
        failure_reason:
          type: [string, "null"]

    BatchRowRejectionDetail:
      type: object
      additionalProperties: false
      required: [row_index, rule, message]
      properties:
        row_index: { type: integer, minimum: 0 }
        field:
          type: [string, "null"]
          maxLength: 200
        rule:
          type: string
          minLength: 1
          maxLength: 64
        message:
          type: string
          minLength: 1
          maxLength: 2000

    BatchRejectionsResponse:
      type: object
      additionalProperties: false
      required: [batch_id, rejections]
      properties:
        batch_id:
          type: string
          pattern: "^batch_[A-Za-z0-9]{16,32}$"
        rejections:
          type: array
          items: { $ref: "#/components/schemas/BatchRowRejectionDetail" }
        next_cursor:
          type: [string, "null"]

    InstitutionStatus:
      type: object
      additionalProperties: false
      required:
        - institution_id
        - onboarded
        - rate_limit_per_minute
        - complaints_received_today
        - schema_version
      properties:
        institution_id:
          type: string
          pattern: "^SBS-\\d{4,6}$"
        onboarded: { type: boolean }
        rate_limit_per_minute: { type: integer, minimum: 0 }
        complaints_received_today: { type: integer, minimum: 0 }
        last_submission_at:
          type: [string, "null"]
          format: date-time
        schema_version:
          type: string
          pattern: "^v\\d+\\.\\d+\\.\\d+$"

    HealthStatus:
      type: object
      additionalProperties: false
      required: [status, version, checked_at]
      properties:
        status:
          type: string
          enum: [ok, degraded, down]
        version: { type: string }
        checked_at: { type: string, format: date-time }

    VersionInfo:
      type: object
      additionalProperties: false
      required: [api_version, build_sha, schema_version]
      properties:
        api_version: { type: string }
        build_sha:
          type: string
          minLength: 7
          maxLength: 40
        schema_version:
          type: string
          pattern: "^v\\d+\\.\\d+\\.\\d+$"

    ProblemDetail:
      type: object
      additionalProperties: false
      required: [type, title, status, code]
      properties:
        type:
          type: string
          format: uri
          description: |
            RFC 9457 type — URI identifying the problem class. Placeholder
            namespace pending SBS confirmation.
        title:
          type: string
          minLength: 3
          maxLength: 200
        status:
          type: integer
          minimum: 400
          maximum: 599
        detail:
          type: [string, "null"]
          maxLength: 2000
        instance:
          type: [string, "null"]
        code:
          type: string
          pattern: "^SBS-\\d{3}-\\d{3}$"
          description: Stable machine-readable error code (see api/openapi/error-catalog.md).
        trace_id:
          type: [string, "null"]
        errors:
          type: [array, "null"]
          items: { $ref: "#/components/schemas/ProblemFieldError" }

    ProblemFieldError:
      type: object
      additionalProperties: false
      required: [field, rule, message]
      properties:
        field:
          type: string
          minLength: 1
          maxLength: 200
        rule:
          type: string
          minLength: 1
          maxLength: 64
        message:
          type: string
          minLength: 1
          maxLength: 500

    # --- taxonomy enums -----------------------------------------------------

    ComplainantDocType:
      type: string
      enum: [DNI, CE, PASAPORTE, RUC, OTRO]
      description: Document-type code identifying the complainant — Anexo 1-A #2 (Anexo A subset).

    ProductCategory:
      type: string
      enum:
        - DEPOSITOS
        - CREDITOS
        - TARJETA_CREDITO
        - TARJETA_DEBITO
        - SEGUROS
        - AFP_PENSIONES
        - COOPAC
        - OTRO
      description: Product / service / operation category — Anexo 1-A #14 (Anexo B subset).

    Channel:
      type: string
      enum:
        - AGENCIA
        - WEB
        - APP_MOVIL
        - TELEFONO
        - CORREO
        - PRESENCIAL_SBS
        - OTRO
      description: Channel through which the complaint was registered — Anexo 1-A #7 (Anexo A subset).

    SubmissionMethod:
      type: string
      enum:
        - AGENCIA
        - CAJERO
        - APP_MOVIL
        - WEB
        - POS
        - AGENTE_CORRESPONSAL
        - OTRO
      description: Channel through which the underlying operation occurred — Anexo 1-A #8.

    MotivoCode:
      type: string
      enum:
        - COBRO_INDEBIDO
        - OPERACION_NO_RECONOCIDA
        - DEMORA_ATENCION
        - INFORMACION_INCORRECTA
        - INCUMPLIMIENTO_CONTRATO
        - CALIDAD_SERVICIO
        - PUBLICIDAD_ENGANOSA
        - OTRO
      description: Motivo del reclamo — Anexo 1-A #15 (Anexo C subset).

    Severity:
      type: string
      enum: [LOW, MEDIUM, HIGH, CRITICAL]
      description: Severity tag set by the institution. No counterpart in Anexo 1-A; see ADR 0026.

    DescriptionLanguage:
      type: string
      enum: [es, qu, ay, en]
      description: ISO 639 language code for description_text. No counterpart in Anexo 1-A.

    ComplainantAgeRange:
      type: string
      enum:
        - UNDER_25
        - "25_34"
        - "35_44"
        - "45_54"
        - "55_64"
        - OVER_64
        - UNKNOWN
      description: Bucketed age range; included in lieu of Anexo 1-A's PII fields.

    ResolutionStatus:
      type: string
      enum: [pendiente, atendido, anulado]
      description: Anexo 1-A #22 — Estado.

  examples:
    ValidComplaintBody:
      summary: A valid Anexo 1-A complaint payload
      value:
        complaint_id: BCO-2026-000017
        institution_id: SBS-001234
        received_date: 2026-05-12
        complainant_doc_type: DNI
        product_category: TARJETA_CREDITO
        channel: APP_MOVIL
        motivo_code: COBRO_INDEBIDO
        severity: HIGH
        description_text: >-
          Se realizó un cargo no autorizado por S/ 245.00 en la tarjeta de
          crédito el 10 de mayo. El cliente solicita reversa inmediata.
        description_language: es
        complainant_age_range: "35_44"
        complainant_district: "150100"
        submission_method: APP_MOVIL
        original_reference_id: null
        resolution_status: pendiente
    ValidComplaintSubmission:
      summary: A valid complaint submission
      value:
        complaint:
          complaint_id: BCO-2026-000017
          institution_id: SBS-001234
          received_date: 2026-05-12
          complainant_doc_type: DNI
          product_category: TARJETA_CREDITO
          channel: APP_MOVIL
          motivo_code: COBRO_INDEBIDO
          severity: HIGH
          description_text: >-
            Se realizó un cargo no autorizado por S/ 245.00 en la tarjeta
            de crédito el 10 de mayo.
          description_language: es
          complainant_age_range: "35_44"
          complainant_district: "150100"
          submission_method: APP_MOVIL
          original_reference_id: null
          resolution_status: pendiente
        client_submission_id: sub-2026-05-12-abc123
    ComplaintCreatedExample:
      summary: 201 Created response
      value:
        complaint_id: BCO-2026-000017
        institution_id: SBS-001234
        received_at: 2026-05-12T15:42:11Z
        resolution_status: pendiente
        client_submission_id: sub-2026-05-12-abc123
    ComplaintListExample:
      summary: One page of complaints
      value:
        items:
          - complaint_id: BCO-2026-000017
            institution_id: SBS-001234
            received_date: 2026-05-12
            product_category: TARJETA_CREDITO
            channel: APP_MOVIL
            motivo_code: COBRO_INDEBIDO
            severity: HIGH
            resolution_status: pendiente
            received_at: 2026-05-12T15:42:11Z
        next_cursor: null
    ValidBatchManifest:
      summary: A valid batch manifest (multipart `manifest` part value)
      value:
        reporting_period_start: 2026-05-01
        reporting_period_end: 2026-05-31
        row_count_submitted: 412
        checksum_sha256: cafebabecafebabecafebabecafebabecafebabecafebabecafebabecafebabe
        schema_version: v0.1.0
